{% extends 'coder_app/base.html' %}
{% load static %}

{% block tituloPagina %}
Coder App - Buscar Curso
{% endblock %}

{% block contenidoPagina  %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Acerca de mí</h2>
                <p class="lead">Te cuento de mi paso por este maravilloso curso de Python</p>
                <p class="mb-0">Soy analista de testing Sr, siempre hice testing y nunca me llamó la atención desarrollar, siempre le huí. Una amiga, viendo que me sentía estancada y aburrida de hacer siemrpre lo mismo me recomendó hacer este curso, así que buscando nuevos rumbos decidí hacerlo.</p>
                <p class="mb-0">En este curso al cuál yo asistia sin expectactivas me fue atrapando de poco a poco. Lucas, el profesor, junto a los tutores, realmente lo dieron TODO y más, cada clase se fue poniendo más interesante, y el último mes tomó un ritmo vertiginoso.</p>
                <p class="mb-0">Ya para la entrega final el gran grupo se consolidó, me tocó preparar la entrega sola, pero no fue tan asi, Lucas y tutores siempre estuvieron presentes y en el grupo de la comisión nos ayudamos entre todos hasta el útimo minuto. Las clases grabadas no tienen desperdicio, incluso los aftesclass estuvieron excelentes.</p>
                <p class="mb-0">Realmente lograron que me entusiasmara por aprender más, esto recién empieza y me encanta!!</p>
                <p class="mb-0">Muchas gracias!!! Super recomienndo este curso y si es con Lucas Trubiano no se van a arrepentir! es excelente y comparte todo sus conocimiento, no se guarda nada y eso se valora muchísimo.</p>
                <br>
                <p>Saluda Atte</p>
                <p>Natalia Julieta Cerda</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}