<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Profesor</title>
</head>
<body>
    <h2>Detalle del Profesor:</h2>
    <p>Nombre: {{profesor.nombre}}</p>
    <p>Apellido: {{profesor.apellido}}</p>
    <p>Email: {{profesor.email}}</p>
    <p>Profesion: {{profesor.profesion}}</p>
    <br>
    <a href="{% url 'profesores_list' %}">Volver a Profesores</a>
</body>
</html>