<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Profesor</title>
</head>
<body>
    <form action="" method="post">
        <h2>Atención!</h2>
        {% csrf_token %}
        ¿Está seguro que quiere eliminar al profesor: {{object.nombre}} {{object.apellido}} ?

        <input class="btn btn-primary" type="submit" value="Confirmar">
        
    </form>
</body>
</html>